{% extends "base.html" %}
{% block content %}

<div class="page-header">
  <h3> This page provides a large number of data for magnetic clusters. </h3>
</div>

<div class="container-fluid">
<div class="row row-centered">
  <span> Displaying {{ num.showing }} out of {{ num.total_found }}. </span>
  <table class="table table-condensed table-hover table-responsive table-bordered col-md-12">
    <thead>
      <tr class="active d-flex">
        <th>Cluster&nbsp;ID</th>
        <!-- Structural properties -->
        <th>Composition</th>
        <th>Full&nbsp;formula</th>
        <th>Atomic&nbsp;sites</th>
        <th class="col-md-2">Cluster diameter (&#8491;)</th>
        <!-- Magnetic properties -->
        <th class="col-md-2">Averaged magnetic moment (&mu;<sub>B</sub>/atom)</th>
        <th class="col-md-2">Methods</th>
        <!-- References -->
        <th class="col-md-5">References</th>
      </tr>
    </thead>
    <tbody>
      {% for d in data %}
      <tr>
        <td><a href="/cluster/{{ d.mmid }}">{{ d.mmid }}</a></td>
        <!-- Structural properties -->
        <td><a href="/cluster/query?select_type=element&in_string={{ d.formula.link }}">{{ d.formula.reduced | safe }}</a></td>
        <td>{{ d.formula.full | safe }}</td>
        <td align="center">{{ d.num_sites }}</td>
        <td align="center">{{ d.diameter }}</td>
        <!-- Magnetic properties -->
        <td align="center">{{ d.magmom.ave }}</td>
        <td><a href="{{ d.method.url }}">{{ d.method.text }}</a></td>
        <!-- References -->
        <td><a href="{{ d.ref.url }}">{{ d.ref.text }}</a></td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
</div>

{%if tmp %}
<hr>
<B>tmp</B>: {{ tmp }}
{% endif %}

{% endblock %}
