<hr>

<div class="container pad-top row" id="acknowledgements">
  You can download and use the data of this database for your scientific work, provided that you express proper acknowledgements:<br>
  <ul>
    <li>
      M. Sakurai, R. Wang, T. Liao, C. Zhang, H. Sun, Y. Sun, H. Wang, X. Zhao, S. Wang, B. Balasubramanian, X. Xu, D. J. Sellmyer, V. Antropov, J. Zhang, C.-Z. Wang, K.-M. Ho, J. R. Chelikowsky,<br>
      "Discovering rare-earth-free magnetic materials through the development of a database," [selected as <a href="https://journals.aps.org/prmaterials/issues/4/11">Editors' Suggestion</a>]<br>
      <a href="https://doi.org/10.1103/PhysRevMaterials.4.114408">Phys. Rev. Materials <b>4</b>, 114408 (2020)</a>.<br>
      <span style="font-family: monospace">DOI: 10.1103/PhysRevMaterials.4.114408</span>
      [<a href="/static/ref/PhysRevMaterials.4.114408.bibtex">BibTex</a>,
       <a href="/static/ref/PhysRevMaterials.4.114408.ris">RIS</a>]
    </li>
    <li>
      B. Balasubramanian, M. Sakurai, C.-Z. Wang, X. Xu, K.-M. Ho, J. R. Chelikowsky, and D. J. Sellmyer,<br>
      "Synergistic computational and experimental discovery of novel magnetic materials," [Review article]<br>
      <a href="https://doi.org/10.1039/D0ME00050G">Mol. Syst. Des. Eng., <b>5</b>, 1098-1117 (2020)</a>.<br>
      <span style="font-family: monospace">DOI: 10.1039/D0ME00050G</span>
      [<a href="/static/ref/D0ME00050G.bib">BibTex</a>,
       <a href="/static/ref/D0ME00050G.ris">RIS</a>]
    </li>
    <li>
      Dataset as of March 2020.
    </li>
    <li>
      Portal page: <a href="https://www.novomag.physics.iastate.edu/structure-database">https://www.novomag.physics.iastate.edu/structure-database</a><br>
    </li>
    <li>
      See <a href="/about#papers">references</a> for original papers about specific alloys listed on this site.
    </li>
  </ul>
</div>

<footer align="center">

<hr>

<div class="pad-top row text-center">
  Powered by <a href="http://pymatgen.org">pymatgen</a>, <a href="https://mlab.com/">mlab</a>, and <a href="https://signup.heroku.com">heroku</a>.<br>
  Maintained by <a href="https://github.com/haidi-ustc">Haidi Wang</a>, Yang Sun (ISU), and <a href="https://www.oden.utexas.edu/people/1396/">Masahiro Sakurai</a> (UT Austin).
</div>

</footer>
